[submodule "CrypTFlow2/extern/SEAL"]
	path = SCI/extern/SEAL
	url = https://github.com/Microsoft/SEAL
[submodule "CrypTFlow2/extern/eigen"]
	path = SCI/extern/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "SCI/extern/batchpir"]
	path = SCI/tests/GC/batchpir
	url = https://github.com/timsu1104/LUT-PIRANA.git
